.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered {
  display: flex;
  justify-content: center;
}
.main-table {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.shift-table {
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.shift-form {
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

.shift {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
  background-color: #61dafb;
}

.shift-date {
  grid-column-start: 1;
  grid-column-end: 3;

}

h4 {
  margin-top: 5px;
  margin-bottom: 2px;
}

.form-card {
  background-color: #C2C0BF;
  min-width: 250px;
  max-width: 300px;
  border-radius: 15px;
}
.form-card-header {
  color: white;
  background-color: #A31F34;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.form-card-body {
  padding: 15px;
  padding-top: 5px;
}
.input-field {
  width: 100%;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
}

input {
  width: 100%;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
}

select {

  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
}

button {
  border-radius: 7px;
  border-style: solid;
  padding: 3px;
  border-color: #A31F34;
  border-width: 1px;
  background-color: #A31F34;
  color: white;
}

button:disabled {
  background-color: #a66c76;
}

.button-full {
  width: 100%;
}

.input-button {
  width: 100%;
  border-radius: 7px;
  border-style: solid;
  padding: 3px;
  border-color: #A31F34;
  border-width: 1px;
  background-color: #A31F34;
  color: white;
}

.input-button:disabled {
  background-color: #a66c76;
}

.offering-card {
  display: grid;
  grid-template-columns: 300px 2fr;
  
}

.time-selector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.shift-table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #A31F34;
  color: white;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-right: 20px;
  min-width: 700px;
  max-width: 700px;
}

.shift-table-body {
  background-color:#C2C0BF;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: 20px;
  min-width: 700px;
  max-width: 700px;
}

.shift-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: -10px;
  margin-right: -10px;
  padding: 7px;
}

.shift-row:nth-of-type(even) {
  background-color: #939291;
}

.unselected-shift {
  
  min-width: 350px;
  max-width: 350px;
  margin: 10px;
  background-color: #A31F34;
  border-radius: 15px;
  color: white;
  padding: 10px;
}

.selected-shift {
  
  min-width: 350px;
  max-width: 350px;
  margin: 10px;
  background-color: #1fa342;
  border-radius: 15px;
  color: white;
  padding: 10px;
  
}

.selected-shift-with-ranker {
  display: grid;
  grid-template-columns: 5fr 2fr;
  min-width: 450px;
  max-width: 450px;
  margin: 10px;
  background-color: #1fa342;
  border-radius: 15px;
  color: white;
  padding: 10px;
  
}

.shift-selector {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.selector {
  margin: 10px;
  padding: 5px;
}

.ranker {
  margin: 10px;
  text-align: center;
  font-weight: bolder;
  border-radius: 15px;
  background-color: #C2C0BF;
}

.offering-response {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: min-content;
}

.response-column {
  display: grid;
  min-width: 80px;
  max-width: 80px;
  grid-template-columns: 1fr;
  text-align: center;
}

.response-shifts-column {
  min-width: 350px;
  text-align: center;
}

.response-header {
  background-color: #A31F34;
  min-height: 35px;
  padding-top: 3px;
  color: white;
  margin-bottom: 5px;
}


.response-shift {
  min-width: 350px;
  min-height: 60px;
  border-bottom-style: solid;
  border-color: black;
}
.response-shift:nth-of-type(odd) {
  background-color: #939291;
  color: white;
}

.response-div {
  min-height: 60px;
  text-align: center;
  padding: 15px;
  border-bottom-style: solid;
  border-color: black;
  border-left-style: dotted;
}

.no {
  background-color:#A31F34;
  color: white;

}

.yes {
  background-color:#c0c0bf;
}

.pending-user {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 2px;
}

.lifeguard-table {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.lgt-header {
  background-color: #a6515f;
  color: white;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -10px;
  padding-left: 10px;
  padding-top: 5px;
  
}

.daily-schedule {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.align-right {
  text-align: right;
}